/* -----------------------------------------------------------------------------------------
   VaM Shop - open source ecommerce solution
   http://vamshop.ru

   Copyright (c) 2005-2008 VaM Shop 
   -----------------------------------------------------------------------------------------
   Released under the GNU General Public License 
   ---------------------------------------------------------------------------------------*/

/*<![CDATA[*/

@import url("local.css");

html,body
   {
		margin: 0;
		padding: 0;
		background-color: transparent;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -221px;
		background-repeat: repeat-x; 
   }

body
   {
		font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
		font-size: 11pt;
   }

img
   {
	  border: 0;
   }

h2, h3
   {
     margin: 0 0 0 0;
     padding: 0 0 0 0;
   }
   
/* Цвет обычных ссылок в магазине */
a 
   {
     color: #000;
     text-decoration: underline;
   }

a:hover 
   {
     color: #990000;
     text-decoration: none;
   }
/* /Цвет обычных ссылок в магазине */

/* Центр */
div#wrapper
   {
     float: left;
     width: 100%;
   }

div#content
   {
     margin: 0 19%; /* отступ центра от боковых колонок */
   }

/* /Центр */

/* Левая колонка */
div#left
   {
     float: left;
     width: 18%; /* Ширина левой колонки */
     margin-left: -100%;
     background: transparent;
   }
/* /Левая колонка */

/* Правая колонка */
div#right
   {
     float: left;
     overflow: auto;
     width: 18%; /* Ширина правой колонки */
     margin-left: -18%;
     background: transparent;
   }
/* /Правая колонка */

/* Header */

#header 
	{
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 0;
		background-repeat: repeat-x; 
		height: 100px;
	}


#header div.header-left 
	{
		float: left;
		margin: 0; 
		padding: 0; 
	}

#header img 
	{
		margin: 18px 0 0 0; 
	}

#header div.header-right 
	{
		float: right;
		margin: 0; 
		padding: .3em;
	}

/* /Header */

/* Низ */
div#footer
   {
     clear: left;
     width: 100%;
     background: transparent;
     border-top: 0px solid #67748B;
     text-align: center;
     color: #000;
   }
   
div#footer p
   {
     margin: 0;
     padding: 5px 10px;
   }
   
/* /Низ */

/* Навигация */
div#navigation 
   {
     padding-top: 0.5em;
     padding-bottom: 0.5em;
     padding-left: 10px;
     border-bottom: 0px solid #000;
     background: transparent;
     color: #000;
   }

#navigation span 
   {
   }
   
#navigation a
   {
   	text-decoration: none;
   }

#navigation a:hover
   {
   	text-decoration: none;
   }

#navigation a:visited
   {
   	text-decoration: none;
   }
   
/* /Навигация */
   
/* Заголовок страницы */
#content h1 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
   }

#content h1 a 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/* /Заголовок страницы */

/* Скругленные углы */
.page 
   {
		margin: 0 0 .5em 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
   }

.pageItem 
   {
     background: transparent;
     width: 100%;
   }

.page h1, .page p 
   {
     margin: 0 10px;
   }

.page h1 
   {
     font-size: 2em;
     color: #fff;
   }

.page p 
   {
     padding-bottom: 0.5em;
     padding-top: 0.5em;
   }

.page .b1, .page .b2, .page .b3, .page .b4, .page .b1b, .page .b2b, .page .b3b, .page .b4b 
   {
     display: none;
     overflow: hidden;
     font-size: 1px;
   }

.page .b1, .page .b2, .page .b3, .page .b1b, .page .b2b, .page .b3b 
   {
     display: none;
     height: 1px;
   }

.page .b2 
   {
     display: none;
     background: transparent;
     border-left: 1px solid #fff;
     border-right: 1px solid #f1f1f6;
   }

.page .b3 
   {
     display: none;
     background: transparent;
     border-left: 1px solid #fff;
     border-right: 1px solid #f1f1f6;
   }

.page .b4 
   {
     display: none;
     background: transparent;
     border-left: 1px solid #fff;
     border-right: 1px solid #f1f1f6;
   }

.page .b4b 
   {
     display: none;
     background: transparent;
     border-left: 1px solid #f1f1f6;
     border-right: 1px solid #f1f1f6;
   }

.page .b3b 
   {
     display: none;
     background: transparent;
     border-left: 1px solid #f1f1f6;
     border-right: 1px solid #f1f1f6;
   }

.page .b2b 
   {
     display: none;
     background: transparent;
     border-left: 1px solid #f1f1f6;
     border-right: 1px solid #f1f1f6;
   }

.page .b1 
   {
     display: none;
     margin: 0 5px;
     background: transparent;
   }

.page .b2, .page .b2b 
   {
     display: none;
     margin: 0 3px;
     border-width: 0 2px;
   }

.page .b3, .page .b3b 
   {
     display: none;
     margin: 0 2px;
   }

.page .b4, .page .b4b 
   {
     display: none;
     height: 2px;
     margin: 0 1px;
   }

.page .b1b 
   {
     display: none;
     margin: 0 5px;
     background: transparent;
   }

.pagecontent 
   {
     display: block;
     padding-left: 0.5em;
     padding-right: 0.5em;
     background: transparent;
   }

.pagecontentfooter 
   {
     display: block;
     text-align: right;
     background: transparent;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
   }
/* /Скругленные углы */

/*- Меню-закладки сверху */

div#menu
	{
		border-top: 3px solid #ff7b08;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -100px;
		background-repeat: repeat-x; 
		padding: 0;
		margin: 0 auto;
	}

#menu ul, #menu ul li 
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

#menu ul 
	{
		padding: 5px 0 4px;
		text-align: center;
	}

#menu ul li 
	{
		display: inline;
		margin-right: .3em;
	}

#menu ul li.current a
	{
		display: inline;
		color: #fff;
		background: #ff7b08;
		margin-right: .3em;
	}

#menu ul li a 
	{
		color: #000;
		padding: 5px 0;
		text-decoration: none;
	}

#menu ul li a span 
	{
		padding: 5px .5em;
	}

#menu ul li a:hover span 
	{
		color: #fff;
		text-decoration: none;
	}

#menu ul li a:hover 
	{
		color: #69C;
		background: #ff7b08;
		text-decoration: none;
	}

/*\*//*/
#menu ul li a 
	{
		display: inline-block;
		white-space: nowrap;
		width: 1px;
	}

#menu ul 
	{
		padding-bottom: 0;
		margin-bottom: -1px;
	}
/**/

/*\*/
* html #menu ul li a 
	{
		padding: 0;
	}
/**/

/*\*/
* html #menu ul li a 
   {
	  padding: 0;
   }
/**/

/*- /Меню-закладки сверху */

/*- Боксы */

/*- Бокс разделы */
#boxCategories
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса разделы */
#boxCategories h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса разделы */

/*- Список разделов */
#categoriesBoxMenu 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
   }

#categoriesBoxMenu #CatNavi, #CatNavi ul, #CatNavi li 
   { 
     margin: 0; 
     padding: 0; 
     list-style-type: none; 
   }

#categoriesBoxMenu #CatNavi li a
   { 
     width: 95%;
     display: block; 
     padding: 0.1em 0;
     color: #000;
     text-indent: 0.4em;
     background-color: transparent; 
     text-decoration: none;
     margin: 0.2em 0; 
   }

#categoriesBoxMenu #CatNavi li a:hover
   { 
     color: #f00; 
     background-color: transparent;
   }

#categoriesBoxMenu #CatNavi .CatLevel0 
   {
     padding-left: 10px;
   }

#categoriesBoxMenu #CatNavi .CatLevel1 
   {
     padding-left: 20px;
   }

#categoriesBoxMenu #CatNavi .CatLevel2 
   {
     padding-left: 30px;
   }

#categoriesBoxMenu #CatNavi .CatLevel3
   {
     padding-left: 40px;
   }

#categoriesBoxMenu #CatNavi .CatLevel4
   {
     padding-left: 50px;
   }

#categoriesBoxMenu #CatNavi .CatLevel5
   {
     padding-left: 60px;
   }

#categoriesBoxMenu #CatNavi .CatLevel6
   {
     padding-left: 70px;
   }

#categoriesBoxMenu #CatNavi .CurrentParent a 
   { 
     font-weight: bold; 
   }

#categoriesBoxMenu #CatNavi li a,
#categoriesBoxMenu #CatNavi .Current li a,
#categoriesBoxMenu #CatNavi .CurrentParent li a,
#categoriesBoxMenu #CatNavi .CurrentParent .Current li a 
   { 
     font-weight: normal; 
   }

#categoriesBoxMenu #CatNavi .Current a,
#categoriesBoxMenu #CatNavi .CurrentParent .Current a 
   { 
     font-weight: bold; 
   }
   
/*- /Список разделов */

/*- /Бокс разделы */

/*- Бокс фильтры */
#boxFilters
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса фильтры */
#boxFilters h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса фильтры */

/*- Содержимое бокса фильтры */
#boxFiltersContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: left;
  }

#boxFilters div.close
   {
     width: 100%;
  	  border: 0px solid #67748B;
  	  margin: 0 auto;
  	  padding: 0;
   }

#boxFilters div.close div.content
   {
  	  clear: both;
   }

#boxFilters div.content span.name
   {
     display: block;
  	  border: 0px solid green;
  	  text-align: left;
  	  float: left;
  	  padding: 0;
  	  margin: 0;
   }

#boxFilters div.content span.close
   {
     display: block;
  	  border: 0px solid red;
  	  text-align: right;
  	  padding: 0;
  	  float: right;
  	  margin: 0 auto;
   }

/*- /Содержимое бокса фильтры */

/*- /Бокс фильтры */

/*- Бокс контент */
#boxContent
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса контент */
#boxContent h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса контент */

/*- Содержимое бокса контент */
#boxContentContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxContentContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

#boxContent ul
   {
     list-style-type: none;
     text-align: left;
     padding-left: 1em;
     margin: 0 0 0 0;
   }

#boxContent li 
   {
	  display: block;
     padding: 0; 
   }

/*- /Содержимое бокса контент */

/*- /Бокс контент */

/*- Бокс информация */
#boxInformation
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса информация */
#boxInformation h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса информация */

/*- Содержимое бокса информация */
#boxInformationContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxInformationContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

#boxInformation ul
   {
     list-style-type: none;
     text-align: left;
     padding-left: 1em;
     margin: 0 0 0 0;
   }

#boxInformation li {
	display: block;
   padding: 0; 
}

/*- /Содержимое бокса контент */

/*- /Бокс информация */

/*- Бокс быстрый заказ */
#boxAddQuickie
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса быстрый заказ */
#boxAddQuickie h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса быстрый заказ */

/*- Содержимое бокса быстрый заказ */
#boxAddQuickieContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxAddQuickieContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса быстрый заказ */

/*- Форма быстрый заказ */
.addquickieform input {
	width: 80%;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 2px;
   margin-top: 0.2em;
   margin-bottom: 0.4em;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-bottomright: 4px;
   -webkit-border-bottom-right-radius: 4px;
}

.addquickieform input:focus, .sffocus, .sffocus {
	background-color: #ffc;
}
/*- /Форма быстрый заказ */

/*- /Бокс быстрый заказ */

/*- Бокс авторы */
#boxAuthors
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса авторы */
#boxAuthors h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса авторы */

/*- Содержимое бокса авторы */
#boxAuthorsContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxAuthorsContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса авторы */

/*- /Бокс авторы */

/*- Бокс статьи */
#boxArticles
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса статьи */
#boxArticles h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса статьи */

/*- Содержимое бокса статьи */
#boxArticlesContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxArticlesContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса статьи */

/*- /Бокс статьи */

/*- Бокс партнёрка */
#boxAffiliate
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса партнёрка */
#boxAffiliate h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса партнёрка */

/*- Содержимое бокса партнёрка */
#boxAffiliateContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxAffiliateContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса партнёрка */

/*- /Бокс партнёрка */

/*- Бокс новые статьи */
#boxArticlesNew
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса новые статьи */
#boxArticlesNew h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса новые статьи */

/*- Содержимое бокса новые статьи */
#boxArticlesNewContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxArticlesNewContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса новые статьи */

/*- /Бокс новые статьи */

/*- Бокс просмотренные товары */
#boxLastViewed
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса просмотренные товары */
#boxLastViewed h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса просмотренные товары */

/*- Содержимое бокса просмотренные товары */
#boxLastViewedContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxLastViewedContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса просмотренные товары */

/*- /Бокс просмотренные товары */

/*- Бокс отзывы */
#boxReviews
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса отзывы */
#boxReviews h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса отзывы */

/*- Содержимое бокса отзывы */
#boxReviewsContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxReviewsContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса отзывы */

/*- /Бокс отзывы */

/*- Бокс поиск */
#boxSearch
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса поиск */
#boxSearch h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }

#boxSearch h5 a
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/*- /Заголовок бокса поиск */

/*- Содержимое бокса поиск */
#boxSearchContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxSearchContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса поиск */

/*- Форма бокса поиск */
.searchboxform input {
	width: 80%;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 2px;
   margin-top: 0.2em;
   margin-bottom: 0.4em;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-bottomright: 4px;
   -webkit-border-bottom-right-radius: 4px;
}

.searchboxform input:focus, .sffocus, .sffocus {
	background-color: #ffc;
}
/*- /Форма бокса поиск */

/*- /Бокс поиск */

/*- Бокс скидки */
#boxSpecials
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса скидки */
#boxSpecials h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }

#boxSpecials h5 a
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/*- /Заголовок бокса скидки */

/*- Содержимое бокса скидки */
#boxSpecialsContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxSpecialsContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса скидки */

/*- /Бокс скидки */

/*- Бокс рекомендуемые */
#boxFeatured
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса рекомендуемые */
#boxFeatured h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
  
#boxFeatured h5 a
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/*- /Заголовок бокса рекомендуемые */

/*- Содержимое бокса рекомендуемые */
#boxFeaturedContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxFeaturedContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса рекомендуемые */

/*- /Бокс рекомендуемые */

/*- Бокс новинки */
#boxWhatsNew
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса новинки */
#boxWhatsNew h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }

#boxWhatsNew h5 a
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/*- /Заголовок бокса новинки */

/*- Содержимое бокса новинки */
#boxWhatsNewContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxWhatsNewContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса новинки */

/*- /Бокс новинки */

/*- Бокс новости */
#boxNews
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса новости */
#boxNews h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }

#boxNews h5 a
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/*- /Заголовок бокса новости */

/*- Содержимое бокса новости */
#boxNews .boxNewsContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: left;
  }

#boxNews .boxNewsContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса новости */

/*- /Бокс новости */

/*- Бокс вопросы и ответы */
#boxFaq
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса вопросы и ответы */
#boxFaq h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }

#boxFaq h5 a
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		text-decoration: none;
   }
/*- /Заголовок бокса вопросы и ответы */

/*- Содержимое бокса вопросы и ответы */
#boxFaq .boxFaqContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: left;
  }

#boxFaq .boxFaqContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса вопросы и ответы */

dl.itemFaqDefault 
   {
     width: 48%;
     float: left;
     margin: 0.5em 0 0.5em 0;
     padding: 0 0 0 0;
   }

dl.itemFaq 
   {
     width: 98%;
     float: left;
     margin: 0.5em 0 0.5em 0;
     padding: 0 0 0 0;
   }

dt.itemFaq 
   {
     display: none;
     float: left;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 5px 5px 0 5px;
     text-align: left;
   }

dd.itemFaq
   {
     margin-left: 1em;
     padding: 0 0;
     line-height: normal;
     background: transparent;
   }

/*- /Бокс вопросы и ответы */

/*- Бокс корзина */

/* Оформление */
#boxCart 
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

#boxCart .top, #boxCart .bottom 
   {
     display: none;
     background: transparent; 
     font-size: 1px;
   }

/* Шапка с углами */
#boxCart .b1, #boxCart .b2, #boxCart .b3, #boxCart .b4, #boxCart .b5 
   {
     display: none;
     overflow: hidden; 
     height: 1px; 
     background: #006600; 
     border-left: 1px solid #000; 
     border-right: 1px solid #000;
   }
/* /Шапка с углами */

/* Низ с углами */
#boxCart .b1b, #boxCart .b2b, #boxCart .b3b, #boxCart .b4b, #boxCart .b5b 
   {
     display: none;
     overflow: hidden; 
     height: 1px; 
     background: transparent; 
     border-left: 1px solid #000; 
     border-right: 1px solid #000;
   }
/* /Низ с углами */

#boxCart .b1, #boxCart .b1b
   {
     display: none;
     margin: 0 5px; 
     background: #000;
   }

#boxCart .b2, #boxCart .b2b
   {
     display: none;
     margin: 0 4px;
   }

#boxCart .b3, #boxCart .b3b 
   {
     display: none;
     margin: 0 3px;
   }

#boxCart .b4, #boxCart .b4b 
   {
     display: none;
     margin: 0 2px;
   }

#boxCart .b5, #boxCart .b5b 
   {
     display: none;
     margin: 0 1px;
   }

#boxCart .boxheader 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
   }

#boxCart .boxcontent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
   }

#boxCart .boxcontent  span 
   {
     font-weight: bold;
   }

#boxCart .boxheader p 
   {
     padding: 0;
     margin: 0;
   }

#boxCart .boxcontent p 
   {
     padding-top: 0.1em;
     padding-bottom: 0.1em;
     padding-left: 0.5em;
     margin-top: 0;
     margin-bottom: 0;
     margin-left: 0;
     margin-right: 0;
   }
/* /Оформление */

/* Ссылки в заголовке бокса */
#boxCart .boxheader a 
   {
     color: #ff7b08;
     text-decoration: none;
   }

#boxCart .boxheader a:hover 
   {
     color: #ff7b08;
     text-decoration: none;
   }
/* /Ссылки в заголовке бокса */

p.CartContentRight
   {
     text-align: right;
     padding-right: 0.2em;
   }

p.CartContentCenter
   {
     text-align: center;
   }

/*- /Бокс корзина */

/*- Бокс вход/админ */

/* Оформление */
#boxLogin 
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

#boxLogin .top, #boxLogin .bottom 
   {
     display: none;
     background: transparent; 
     font-size: 1px;
   }

/* Шапка с углами */
#boxLogin .b1, #boxLogin .b2, #boxLogin .b3, #boxLogin .b4, #boxLogin .b5 
   {
     display: none;
     overflow: hidden; 
     height: 1px; 
     background: #67748B; 
     border-left: 1px solid #000; 
     border-right: 1px solid #000;
   }
/* /Шапка с углами */

/* Низ с углами */
#boxLogin .b1b, #boxLogin .b2b, #boxLogin .b3b, #boxLogin .b4b, #boxLogin .b5b 
   {
     display: none;
     overflow: hidden; 
     height: 1px; 
     background: transparent; 
     border-left: 1px solid #000; 
     border-right: 1px solid #000;
   }
/* /Низ с углами */

#boxLogin .b1, #boxLogin .b1b
   {
     display: none;
     margin: 0 5px; 
     background: #000;
   }

#boxLogin .b2, #boxLogin .b2b
   {
     display: none;
     margin: 0 4px;
   }

#boxLogin .b3, #boxLogin .b3b 
   {
     display: none;
     margin: 0 3px;
   }

#boxLogin .b4, #boxLogin .b4b 
   {
     display: none;
     margin: 0 2px;
   }

#boxLogin .b5, #boxLogin .b5b 
   {
     display: none;
     margin: 0 1px;
   }

#boxLogin .boxheader 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
   }

#boxLogin .boxcontent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
   }

#boxLogin .boxcontent  span 
   {
     font-weight: bold;
   }

#boxLogin .boxheader p 
   {
     padding: 0;
     margin: 0;
   }

#boxLogin .boxcontent p 
   {
     padding-top: 0.1em;
     padding-bottom: 0.1em;
     padding-left: 0.2em;
     margin-top: 0;
     margin-bottom: 0;
     margin-left: 0;
     margin-right: 0;
   }
/* /Оформление */

/*- Форма входа */
.loginform input {
	width: 70%;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 2px;
   margin-top: 0.2em;
   margin-bottom: 0.4em;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-bottomright: 4px;
   -webkit-border-bottom-right-radius: 4px;
}

.loginform input:focus, .sffocus, .sffocus {
	background-color: #ffc;
}
/*- /Форма входа */

p.LoginContentCenter
   {
     text-align: center;
   }

p.LoginContentLeft
   {
     text-align: left;
   }

/*- /Бокс вход/админ */

/*- Бокс мои загрузки */
#boxDownloads
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса мои загрузки */
#boxDownloads h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса мои загрузки */

/*- Содержимое бокса мои загрузки */
#boxDownloadsContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: left;
  }

#boxDownloadsContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса мои загрузки */

/*- /Бокс мои загрузки */

/*- Бокс рассылка */
#boxNewsletter
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса рассылка */
#boxNewsletter h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса рассылка */

/*- Содержимое бокса рассылка */
#boxNewsletterContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxNewsletterContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса рассылка */

/*- Форма рассылка */
.newsletterform input {
	width: 70%;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 2px;
   margin-top: 0.2em;
   margin-bottom: 0.4em;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   -moz-border-radius-topleft: 4px;
   -webkit-border-top-left-radius: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-right-radius: 4px;
   -moz-border-radius-bottomleft: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -moz-border-radius-bottomright: 4px;
   -webkit-border-bottom-right-radius: 4px;
}

.newsletterform input:focus, .sffocus, .sffocus {
	background-color: #ffc;
}
/*- /Форма рассылка */

/*- /Бокс рассылка */

/*- Бокс лучшие товары */
#boxBestsellers
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса лучшие товары */
#boxBestsellers h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса лучшие товары */

/*- Содержимое бокса лучшие товары */
#boxBestsellersContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
  }

#boxBestsellersContent p 
   {
     margin: 0 0 0 0;
     text-align: left;
  }

/*- /Содержимое бокса лучшие товары */

#boxBestsellersContent p.BestsellersContentRight
   {
     text-align: right;
     padding-right: 0.2em;
     padding-bottom: 0.3em;
   }

#boxBestsellersContent  span 
   {
     font-weight: bold;
   }
   
/*- /Бокс лучшие товары */

/*- Бокс информация о группе */
#boxGroupInfo
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса информация о группе */
#boxGroupInfo h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса информация о группе */

/*- Содержимое бокса информация о группе */
#boxGroupInfoContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxGroupInfoContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

#boxGroupInfoContent  span 
   {
     font-weight: bold;
   }

/*- /Содержимое бокса информация о группе */

/*- /Бокс информация о группе */

/*- Бокс валюты */
#boxCurrencies
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса валюты */
#boxCurrencies h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса валюты */

/*- Содержимое бокса валюты */
#boxCurrenciesContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxCurrenciesContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса валюты */

/*- Форма выбора валюты */
#boxCurrenciesContent select {
	width: 70%;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 2px;
   margin-top: 0.2em;
   margin-bottom: 0.4em;
}
/*- /Форма выбора валюты */

/*- /Бокс валюты */

/*- Бокс языки */
#boxLanguages
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса языки */
#boxLanguages h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса языки */

/*- Содержимое бокса языки */
#boxLanguagesContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxLanguagesContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса языки */

/*- /Бокс языки */

/*- Бокс производители */
#boxManufacturers
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса производители */
#boxManufacturers h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса производители */

/*- Содержимое бокса производители */
#boxManufacturersContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxManufacturersContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса производители */

/*- Форма выбора производителя */
#boxManufacturersContent select {
	width: 70%;
	font-size: 1em;
	border: 1px solid;
	border-color: #666 #ccc #ccc #666;
	padding: 2px;
   margin-top: 0.2em;
   margin-bottom: 0.4em;
}
/*- /Форма выбора производителя */

/*- /Бокс производители */

/*- Бокс информация о производителе */
#boxManufacturersInfo
   {
		margin: 0 .5em .5em .5em;
		padding: 0;
   }

/*- Заголовок бокса информация о производителе */
#boxManufacturersInfo h5 
   {
		color: #ff7b08;
		font-weight: bold;
		font-size: 12pt;
		margin: 0;
		padding: 7px 0 7px 10px;
		background-color: #f4f4f4;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -135px;
		background-repeat: repeat-x; 
		border-top: 1px solid #c0c1c2;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-webkit-border-top-left-radius: 8px;
		-moz-border-radius-topright: 8px;
		-webkit-border-top-right-radius: 8px;
		vertical-align: middle;
  }
/*- /Заголовок бокса информация о производителе */

/*- Содержимое бокса информация о производителе */
#boxManufacturersInfoContent 
   {
		margin: 0;
		padding: .5em;
		background-color: #fff;
		background-image: url(img/vamcart/bg.png);
		background-position: 0 -602px;
		background-repeat: repeat-x; 
		border-top: 0px;
		border-left: 1px solid #c0c1c2;
		border-right: 1px solid #c0c1c2;
		border-bottom: 1px solid #c0c1c2;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		-moz-border-radius-bottomleft: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-webkit-border-bottom-right-radius: 8px;
     text-align: center;
  }

#boxManufacturersInfoContent p 
   {
     margin: 0 0 0 0;
     padding-bottom: 0.2em;
  }

/*- /Содержимое бокса информация о производителе */

/*- /Бокс информация о производителе */

/*- /Боксы */

/*- Время парсинга */
div#parseTime
   {
     clear: left;
     background: transparent;
     width: 100%;
     text-align: center;
     color: #000;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
   }
/*- /Время парсинга */

/*- Информация о магазине */
div#copyright
   {
     clear: left;
     background: transparent;
     width: 100%;
     text-align: center;
     color: #000;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
   }

div.copyright
   {
     clear: left;
     background: transparent;
     width: 100%;
     text-align: center;
     color: #000;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
   }
/*- /Информация о магазине */

/*- Формы */

form 
   {
	  width: 100%;
	  margin: 0;
   }

.form input, textarea,
input[type=text]
   {
		font-size: 1em;
		border: 1px solid;
		border-color: #666 #ccc #ccc #666;
		padding: 2px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-webkit-border-top-left-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
   }

.form textarea 
   {
	  width: 80%;
   }

.pagecontent fieldset.form
   {
     border: 0px;
   }

.pagecontent fieldset.form legend
   {
     font-weight: bold;
	  font: 12pt arial,sans-serif;
	  font-weight: bold;
   }

.pagecontent .form p
   {
	  font: 12pt arial,sans-serif;
	  font-weight: normal;
   }
   
/*- Подсветка ошибок формы */
#errormsg
   {
     border: 2px solid #c00;
     padding: 5px;
     width: 96%;
   }    

label.error 
	{
		margin-left: 10px;
		width: auto;
		display: inline;
		color: red;
		font-weight: normal;
		background: transparent;
}

.error
   {
	  background: #fcc;
   }
/*- /Подсветка ошибок формы */
   
.form textarea:focus, input:focus, .sffocus, .sffocus 
   {
	  background-color: #ffc;
   }

span.Requirement 
   {
     color: red;
   }

/*- /Формы */

/*- Цены */

span.markProductOutOfStock 
   {
     color: #c76170;
     font-weight: bold;
   }

span.productSpecialPrice 
   {
     color: #ff0000;
   }

span.productOldPrice 
   {
	  color: #ff0000;
	  text-decoration: line-through;
   }

span.errorText 
   {
     color: #ff0000;
   }

/*- /Цены */

/* Ошибка на странице свяжитесь с нами */

div.contacterror 
   {
     border: 1px solid; 
     border-color: #ff0000; 
     background-color: #FFCCCC; 
     text-align: center; 
     margin-bottom: 0.5em; 
     margin-top: 0.5em;
   }

/* /Ошибка на странице свяжитесь с нами */

/* Вывод товаров */

/* Количество колонок с товаром на странице новинки */
dl.itemNewProducts 
   {
     display: block;
     width: 100%; /* количество колонок, 50% - товар выводится двумя колонками, т.е. два товара в одной строке, 100% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     height: auto; /* высота блока с товаром, нужно устанавливать обязательно, иначе блоки товаров с картинками и без будут "слипаться" */ 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     background: transparent;
   }
/* /Количество колонок с товаром на странице новинки */

/* Количество колонок с товаром на странице рекомендуемые товары */
dl.itemFeaturedProducts 
   {
     display: block;
     width: 48%; /* количество колонок, 48% - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     height: auto; /* высота блока с товаром, нужно устанавливать обязательно, иначе блоки товаров с картинками и без будут "слипаться" */ 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     border-bottom: 1px #e5e5e5 solid;
   }
/* /Количество колонок с товаром на странице рекомендуемые товары */

/* Количество колонок с товаром в блоке новинки на главной странице */
dl.itemNewProductsDefault 
   {
     display: block;
     width: 48%; /* количество колонок, 48% (не 50, иначе в IE всё равно в одну колонку будут) - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     height: auto; /* высота блока с товаром, нужно устанавливать обязательно, иначе блоки товаров с картинками и без будут "слипаться" */ 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     background: transparent;
   }
/* /Количество колонок с товаром в блоке новинки на главной странице */

/* Количество колонок с новостями на главной странице */
dl.itemLatestNewsDefault 
   {
     display: block;
     width: 48%; /* количество колонок, 48% (не 50, иначе в IE всё равно в одну колонку будут) - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     margin: 0.5em 0 0.5em 0;
     padding: 0 0 0 0;
   }
/* /Количество колонок с новостями на главной странице */

/* Количество колонок с новостями на странице новостей */
dl.itemLatestNews 
   {
     display: block;
     width: 98%; /* количество колонок, 48% - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     margin: 0.5em 0 0.5em 0;
     padding: 0 0 0 0;
   }
/* /Количество колонок с новостями на странице новостей */

/* Количество колонок с товаром на странице скидки */
dl.itemSpecials 
   {
     display: block;
     width: 48%; /* количество колонок, 48% - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     height: auto; /* высота блока с товаром, нужно устанавливать обязательно, иначе блоки товаров с картинками и без будут "слипаться" */ 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     border-bottom: 1px #e5e5e5 solid;
   }
/* /Количество колонок с товаром на странице скидки */

/* Количество колонок с товаром на странице мои данные */
dl.itemLastViewed 
   {
     display: block;
     width: 98%; /* количество колонок, 48% - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     height: auto; /* высота блока с товаром, нужно устанавливать обязательно, иначе блоки товаров с картинками и без будут "слипаться" */ 
     margin: .5em 0 0 0;
     padding: .5em 0 0 0;
     border-bottom: 1px #e5e5e5 solid;
   }

/* /Количество колонок с товаром на странице мои данные */

/* Информация о заказе, адрес клиента и адрес доставки */
dl.ordersAddress 
   {
     display: block;
     width: 49%; /* количество колонок, 48% - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     border-bottom: 1px #e5e5e5 solid;
   }

dt.ordersAddress 
   {
     display: block;
     float: left;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     text-align: center;
   }

dd.ordersAddress
   {
     display: block;
     margin: 0 0 0 1em;
     padding: 0 0 0 0;
     line-height: normal;
     background: transparent;
   }

/* /Информация о заказе, адрес клиента и адрес доставки */

/* Адресная книга */
dl.AddressBook 
   {
     display: block;
     width: 49%; /* количество колонок, 48% - товар выводится двумя колонками, т.е. два товара в одной строке, 99% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
   }

dt.AddressBook 
   {
     display: block;
     float: left;
     width: 90px;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     text-align: center;
   }

dd.AddressBook
   {
     display: block;
     margin: 0 0 0 90px;
     padding: 0 0 0 0;
     line-height: normal;
     background: transparent;
   }

dl.AddressBookList 
   {
     display: block;
     width: 49%;
     float: left;
     height: auto;
     margin: 0 0 0 0;
     padding: 0 0 1em 0;
   }

dt.AddressBookList 
   {
     display: block;
     float: left;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     text-align: center;
   }

dd.AddressBookList
   {
     display: block;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     line-height: normal;
     background: transparent;
   }

/* /Адресная книга */

/* Вход */
dl.Login 
   {
     display: block;
     width: 49%;
     float: left;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
   }

dt.Login
   {
     float: left;
     display: block;
     background: transparent;
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     text-align: center;
   }

dd.Login
   {
     display: block;
     margin: 0 0 0 1em;
     padding: 0 0 0 0;
     line-height: normal;
     background: transparent;
   }

/* /Вход */

dt.itemImage 
   {
     float: left;
     display: block;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 5px 5px 0 5px;
     text-align: center;
   }

dt.itemNews 
   {
     display: none;
     float: left;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 5px 5px 0 5px;
     text-align: left;
   }

dd.itemDescription
   {
     display: block;
     margin: 0 0 0 0;
     padding: 0 0;
     line-height: normal;
     background: transparent;
   }

dd.itemDescriptionPrice
   {
     display: block;
     margin: 1em 0 0 0;
     padding: 0 0;
     line-height: normal;
     background: transparent;
   }

dd.itemNews
   {
     display: block;
     margin-left: 1em;
     padding: 0 0;
     line-height: normal;
     background: transparent;
   }

div.clear
   {
     clear: both;
   }

div.navigation
   {
     display: block;
     width: 100%;
     padding-top: 1em;
   }

span.right
   {
     float: right;
   }

/* /Вывод товаров */

/* Вывод категорий */

dl.itemCategoriesListing 
   {
     width: 33%; /* количество колонок, 50% - товар выводится двумя колонками, т.е. два товара в одной строке, 100% - товар выводится одной колонкой, т.е. один товар в одной строке */ 
     float: left;
     height: auto; /* высота блока с товаром, нужно устанавливать обязательно, иначе блоки товаров с картинками и без будут "слипаться" */ 
     margin: 0 0 0 0;
     padding: 0 0 0 0;
     background: transparent;
   }

dt.itemCategoriesListing 
   {
     float: left;
     height: auto;
     background: transparent;
     border-right: 0px #f1f1f6 solid;
     margin: 0 0 0 0;
     padding: 5px 5px 0 5px;
     text-align: center;
   }

dd.itemCategoriesListing 
   {
     margin: 0 1em 0 1em;
     padding: 0 0;
     line-height: normal;
     background: transparent;
     text-align: center;
   }

/* /Вывод категорий */

/* Страница карточки товара */

p.center
   {
     text-align: center;
   }

div.ProductInfoLeft
   {
     float: left;
     margin-right: 1em;
   }

div.ProductInfoRight
   {
     float: left;
     margin-left: 1em;
     text-align: right;
   }

/* /Страница карточки товара */

/* Ссылки на странице мои данные */

ul.accountLinks 
   {
     list-style-type: none;
     text-align: left;
     padding-left: 1em;
     margin: 0 0 0 0;
   }

li.accountLinks 
   {
	  display: block;
     padding: 0; 
   }

/* /Ссылки на странице мои данные */

span.bold 
   {
     font-weight: bold;
   }

/* Ajax quick find */

div.ajaxQuickFind 
   {
     text-align: left;
   }

ul.ajaxQuickFind 
   {
     list-style-type: none;
     list-style-image: none;
     padding-left: 0px;
   }

li.ajaxQuickFind 
   {
     font-size: 80%;
     padding-left: 0px;
   } 

/* /Ajax quick find */

/* Ajax add quickie suggest */

div.ajaxAddQuickie 
   {
     text-align: left;
   }

div.addQuick 
   {
     text-align: left;
     color: #67748B;
     text-decoration: underline;
     cursor: pointer;
   }
   
ul.ajaxAddQuickie 
   {
     list-style-type: none;
     list-style-image: none;
     padding-left: 0px;
   }

li.ajaxAddQuickie 
   {
     font-size: 80%;
     padding-left: 0px;
   } 

/* /Ajax add quickie suggest */

.errorBox 
   {
	  background-color: #ffb3b5;
   }

.messageStackError, .messageStackWarning 
   { 
     background-color: #ffb3b5; 
   }

.messageStackSuccess 
   { 
     background-color: #99ff00; 
   }

.headerError 
   {
	  background-color: #ffb3b5;
     border: 1px solid red;
   }

.messageStack
   {
     background-color: #ffb3b5; 
     padding: 0.5em 0.5em 0.5em 0.5em; 
   }

.itemOdd 
   {
     background: transparent;
   }
   
.itemEven 
   {
     background: #f4f4f4;
   }

#slide-featured 
	{
		width:80%;
		margin:0 auto;
	}

#slide-featured li
	{
		list-style: none;
		padding: 0;
		margin: 0;
	}

#slide-featured ul
	{
		list-style: none;
		padding: 0;
		margin: 0;
	}

#slide-new 
	{
		width:90%;
		margin:0 auto;
	}   
	
/* Buttons */

a.button, 
span.button, 
del.button
	{
		display: -moz-inline-box;
		display: inline-block;
		cursor: pointer;
		border: none;
		font-size: 0;
		line-height: 0;
				
	/*
	for Safari, read this first
	http://creativebits.org/webdev/safari_background_repeat_bug_fix
	*/
	
		background-position: 0 0;
		background-repeat: no-repeat;
		height: 30px;
		text-decoration: none;
		color: #2e523b;
		font-style: normal;
		margin: 0 6px 0px 0;
		padding-top: -2px;
		padding-right: 10px;
		padding-botton: 0;
		padding-left: 0;	
		vertical-align: middle;	
		_position: relative;
		_width: 10px;	
		_overflow-y: hidden;
	}

a.button, 
span.button, 
del.button, 
a.button span, 
span.button button, 
span.button input, 
del.button span
	{
		background-image: url(img/vamcart/buttons/form_buttons.png);
		_background-image: url(img/vamcart/buttons/form_buttons.gif);
	}

a.button span, 
span.button button, 
span.button input, 
del.button span
	{
		white-space: nowrap;
		cursor: pointer;
		color: #222;
		display: -moz-inline-box;
		display: inline-block;
		line-height: 1;
		letter-spacing: 0 !important;
		font-family: "Arial" !important;
		font-size: 13px !important;
		font-style: normal;				
		background-color: transparent;
		background-position: 100% 0;
		background-repeat: no-repeat;
		height: 30px;
		padding: 8px 20px 0 10px;
		margin: 0 -16px 0 10px;
		border: none;
		vertical-align: text-top;
		zoom: 1;
		_position: relative;
		_padding-left: 0px;
		_padding-right: 12px;
		_margin-right: -10px;	
		_display: block;
		_top: 0;
		_right: -5px;
	}

span.button button
	{
		line-height: 2.5; /*Opera need this*/
	}

html.safari a.button span, 
html.safari del.button span
	{
		line-height: 1.3;
	}

html.safari span.button button
	{
		line-height: 2.6;
	}

html.safari a.button:focus,
html.safari span.button button:focus
	{
		outline: none;
	}

del.button
	{
		/* cursor:not-allowed;	*/
		background-position: 0 -120px;
	}

del.button span
	{
		cursor: default;
		color: #aaa !important;
		background-position: 100% -120px;
	}

span.button button, 
span.button input
	{
		padding-top: 0px;
		line-height: 2.5; /*Opera need this*/
	}

/** optional **/
/*
a.button:visited
	{
		color: #aaa;
	}
*/

/*Hover Style*/

a.button:hover, 
a.button:focus, 
a.dom-button-focus, 
span.button-behavior-hover
	{
		background-position: 0 -60px;
		color: #222;
		text-decoration: none;
	}

a.button:hover span, 
a.button:focus span, 
span.button-behavior-hover button, 
span.button-behavior-hover input
	{
		background-position: 100% -60px;
	}

a.button:active, 
a.button:focus span
	{
		color: #444;
	}

del.button-behavior-hover, 
del.button:hover
	{
		background-position: 0 -180px;
		/* cursor:not-allowed; */
	}

del.button-behavior-hover span, 
del.button:hover span
	{
		background-position: 100% -180px;
		/* cursor:not-allowed; */
	}

/* /Buttons */
	    
	    
#flyimgcart 
	{
		position:absolute;
		z-index:1000;
	}

div.filter
	{
		float: left;
		padding: 0 .5em;
	}

/* ############ checkout ################## */

.sm_layout_box h2 
	{
		padding: .5em .5em .5em 0;
	}

.sm_layout_box 
	{
		padding-left: 1em;
	}

div.CheckoutError 
	{
		border: 1px solid; 
		border-color: #ff0000; 
		background-color: #FFCCCC; 
		text-align: left; 
		margin-bottom: 0.5em; 
		margin-top: 0.5em;
		padding: 0.5em;
	}
		         
/*]]>*/