{config_load file="$language/lang_$language.conf" section="create_account"}
<div id="box">
<div id="checkout">
{$PAYMENT_FIELDS}
{$FORM_ACTION}
{if $error!=''}
<div class="CheckoutError">
{$error}
</div>
{/if}

{if $TEXT_ORIGIN_LOGIN}<p>{$TEXT_ORIGIN_LOGIN}</p>{/if}

<div id="shipping_box" class="sm_layout_box">
<h2>{$TITLE_SHIPPING_ADDRESS}</h2>
{if $ADDRESS_LABEL_SHIPPING_ADDRESS}
{$ADDRESS_LABEL_SHIPPING_ADDRESS}
<br />
{$BUTTON_SHIPPING_ADDRESS}
{/if}
{if !$smarty.session.customer_id}
<!-- форма -->
<fieldset class="form">
{if $gender=='1'} 
<p><label for="gender">{#text_gender#}</label> {$INPUT_MALE}&nbsp;{$INPUT_FEMALE}</p>
{/if}
<p><label for="firstname">{#text_firstname#}</label> {$INPUT_FIRSTNAME}</p>
{if $secondname=='1'}<p>{#text_secondname#} {$INPUT_SECONDNAME}</p>
{/if}
<p><label for="lastname">{#text_lastname#}</label> {$INPUT_LASTNAME}</p>
{if $birthdate=='1'} 
<p><label for="dob">{#text_birthdate#}</label> {$INPUT_DOB}</p>
{/if}
</fieldset>
{if $company=='1'}<fieldset class="form">
<p>{#text_company#} {$INPUT_COMPANY}</p>
</fieldset>
{/if}<div id="shipping_address">
<fieldset class="form">
{if $street_address=='1'}{/if}
{if $street_address=='1'}<p><label for="address">{#text_street#}</label> {$INPUT_STREET}</p>
{/if}
{if $suburb=='1'}<p>{#text_suburb#} {$INPUT_SUBURB}</p>
{/if}
{if $postcode=='1'}<p><label for="postcode">{#text_code#}</label> {$INPUT_CODE}</p>
{/if}
{if $city=='1'}<p><label for="city">{#text_city#}</label> {$INPUT_CITY}</p>
{/if}
{if $country=='1'}
<div id="shipping_country_box">
<div id="shipping_country"><p><label for="country">{#text_country#}</label> {$SELECT_COUNTRY}</p>
</div><!--div end shipping_country -->
</div><!--div end shipping_country_box -->
{/if}
{if $state=='1'}
<div id="shipping_state_box">
<div id="shipping_state"><p><label for="state">{#text_state#}</label> <span id="stateXML">{$INPUT_STATE}</span></p>
</div><!--div end shipping_state -->
</div><!--div end shipping_state_box -->
{/if}
</fieldset>
</div> <!--div end shipping_address -->
{/if}
</div> <!--div end shipping_box --> 


{if $sc_payment_address_show}
<div id="payment_address_box"  class="sm_layout_box">
<h2>{$TITLE_PAYMENT_ADDRESS}</h2>
{if $ADDRESS_LABEL_PAYMENT_ADDRESS}
{$ADDRESS_LABEL_PAYMENT_ADDRESS}
<br />
{$BUTTON_PAYMENT_ADDRESS}
{/if}
{if !$smarty.session.customer_id}
<div id="payment_address_checkbox">
{$PAYMENT_ADDRESS_CHECKBOX}{$TEXT_SHIPPING_SAME_AS_PAYMENT}
</div>
<div id="payment_address">
<!-- форма -->
<fieldset class="form">
{if $gender_payment=='1'} 
<p><label for="gender_payment">{#text_gender#}</label> {$INPUT_MALE_PAYMENT}&nbsp;{$INPUT_FEMALE_PAYMENT}</p>
{/if}
<p><label for="firstname_payment">{#text_firstname#}</label> {$INPUT_FIRSTNAME_PAYMENT}</p>
{if $secondname_payment=='1'}<p>{#text_secondname#} {$INPUT_SECONDNAME_PAYMENT}</p>
{/if}
<p><label for="lastname_payment">{#text_lastname#}</label> {$INPUT_LASTNAME_PAYMENT}</p>
{if $birthdate_payment=='1'} 
<p><label for="dob">{#text_birthdate#}</label> {$INPUT_DOB_PAYMENT}</p>
{/if}
</fieldset>
{if $company_payment=='1'}<fieldset class="form">
<p>{#text_company#} {$INPUT_COMPANY_PAYMENT}</p>
</fieldset>
{/if}<fieldset class="form">
{if $street_address_payment=='1'}{/if}
{if $street_address_payment=='1'}<p><label for="address">{#text_street#}</label> {$INPUT_STREET_PAYMENT}</p>
{/if}
{if $suburb_payment=='1'}<p>{#text_suburb#} {$INPUT_SUBURB_PAYMENT}</p>
{/if}
{if $postcode_payment=='1'}<p><label for="postcode">{#text_code#}</label> {$INPUT_CODE_PAYMENT}</p>
{/if}
{if $city_payment=='1'}<p><label for="city">{#text_city#}</label> {$INPUT_CITY_PAYMENT}</p>
{/if}
{if $country_payment=='1'}
<div id="payment_country_box">
<div id="payment_country_"><p><label for="country">{#text_country#}</label> {$SELECT_COUNTRY_PAYMENT}</p>
</div><!--div end payment_country -->
</div><!--div end payment_country_box -->
{/if}
{if $state_payment=='1'}
<div id="shipping_state_box">
<div id="shipping_state"><p><label for="state">{#text_state#}</label> <span id="stateXMLPayment">{$INPUT_STATE_PAYMENT}</span></p>
</div><!--div end shipping_state -->
</div><!--div end shipping_state_box -->
{/if}
</fieldset>
</div><!--div end payment_address -->
{/if}
</div><!--div end payment_address_box -->
{/if}

{if !$smarty.session.customer_id}
<div id="contact_box" class="sm_layout_box">
<fieldset class="form">
<h2>{$TITLE_CONTACT_ADDRESS}</h2>
<p><label for="email">{#text_email#}</label> {$INPUT_EMAIL}</p>
{if $telephone=='1'}<p><label for="telephone">{#text_tel#}</label> {$INPUT_TEL}</p>
{/if}
{if $fax=='1'}<p>{#text_fax#} {$INPUT_FAX}</p>
{/if}
{if $INPUT_CUSTOMERS_EXTRA_FIELDS}
{foreach item=customers_extra_filelds from=$INPUT_CUSTOMERS_EXTRA_FIELDS}<p><label>{$customers_extra_filelds.NAME}:</label> {$customers_extra_filelds.VALUE}</p>
{/foreach}
{/if}
</fieldset>
</div> <!--div end contact_box -->   
{/if}

{if !$smarty.session.customer_id}
<div id="password_box" class="sm_layout_box">
{if $TITLE_CONTACT_PASSWORD}<h2>{$TITLE_CONTACT_PASSWORD}</h2>{/if}
<div id="password_checkbox">
{$PASSWORD_CHECKBOX}
</div>
{if $create_password=='1'}
<div id="password_fields">
<p>{$TEXT_CONTACT_PASSWORD}</p>
</div> <!--div end password_fields --> 
{/if}
</div> <!--div end password_box -->  
{/if}

{if $shipping=='true'}
<div id="shipping_modules_box" class="sm_layout_box">
<h2>{$TITLE_SHIPPING_MODULES}</h2>
<div id="shipping_options"> 
{$SHIPPING_BLOCK}
</div> <!--div end shipping_options-->
</div> <!--div end shipping_modules_box --> 
{/if}

<div id="payment_options" class="sm_layout_box"> 
<h2>{$TITLE_PAYMENT_MODULES}</h2>
{$PAYMENT_BLOCK}
</div> <!--div end payment_options-->

{if $comments=='1'}
<div id="comment_box" class="sm_layout_box">
<h2>{$TITLE_COMMENTS}</h2>
{$COMMENTS}
</div><!--div end comment_box--> 
{/if}

<div id="order_total_modules" class="sm_layout_box">
<h2>{$TITLE_TOTALS}</h2>
<div class="contentText">
<div style="float: right;">
<table border="0" cellspacing="0" cellpadding="2">
{$ORDER_TOTALS}
</table>
</div>
</div>
<p>&nbsp;</p>
</div><!--div end order_total_modules -->

{if $conditions=='true'}
<div id="conditions" class="sm_layout_box">
{$AGB_checkbox} {$smarty.const.SC_CONDITION} {$AGB_LINK} {$smarty.const.SC_CONDITION_END}
</div><!--div end conditions --> 
{/if}

<br />
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
{$FORM_END}
</div><!-- Div end checkout -->
</div><!-- Div end checkout_container -->
