{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="box-search">
{$FORM_ACTION}
<p class="searchboxform">
	{$INPUT_SEARCH}
	{$BUTTON_SUBMIT}
</p>
<div class="ajaxQuickFind" id="ajaxQuickFind" style="text-align: left;"></div>
{$FORM_END}
<script type="text/javascript">
// <![CDATA[
{literal}
$(document).ready(function(){

  $("#quick_find_keyword").keyup(function(){
      var searchString = $("#quick_find_keyword").val(); 
      $.ajax({
      	url: "index_ajax.php",             
      	dataType : "html",
      	type: "POST",
      	data: "q=includes/modules/ajax/ajaxQuickFind.php&keywords="+searchString,
      	success: function(msg){$("#ajaxQuickFind").html(msg);}            
 });     
                           
                           
   });


})

{/literal}
// ]]>
</script>
</div>