{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="$language/lang_$language.conf" section="index"}
{if $deny_cart neq 'true'}
<div class="box-cart">
<div class="box-header">
	<h2><a href="{$LINK_CART}">{#heading_cart#}</a></h2>
</div>
<div class="box-content">
{if $empty=='false'}
	<p class="first">
		{#text_total#}&nbsp;<span>{$TOTAL}</span>
	</p>
{else} <!-- Пустая корзина --> 
	<p class="first">
		{#text_empty_cart#}
	</p>
{/if}
	<p class="last">
		Добавьте всего на 400грн. и доставка по Киеву бесплатно
	</p>
</div>
</div>
{/if}