{config_load file="$language/lang_$language.conf" section="boxes"}

<div class="box-slides">
	<link rel="stylesheet" href="jscript/jquery/plugins/bxslider/bx_styles/bx_styles.css" type="text/css" />
	<script src="jscript/jquery/plugins/bxslider/jquery.bxSlider.min.js" type="text/javascript"></script>


	<ul id="banner-slider">

		{foreach from=$slideList item=slide}
		<li>
			{$slide}
		</li>
		{/foreach}

	</ul>
		
	
	{literal}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#banner-slider').bxSlider({
				pager: false,
				mode: 'fade',
				auto: true,
				pause: 5000,
				autoHover: true
			});
		});
	</script>
	{/literal}

</div>