{config_load file="$language/lang_$language.conf" section="index"}
<div class="content-wrapper">

  <div id="header">
      <ul>
      <li{$1}><a href="{$mainpage}"><span>{#text_mainpage#}</span></a></li>
      {if $account}{if $smarty.session.customer_id}
      <li{$2}><a href="{$account}"><span>{#link_account#}</span></a></li>
      {/if}{/if}
      <li{$3}><a href="{$cart}"><span>{#link_cart#}</span></a></li>
      <li{$4}><a href="{$checkout}"><span>{#link_checkout#}</span></a></li>
      {if $smarty.session.customer_id}
      <li{$5}><a href="{$logoff}"><span>{#link_logoff#}</span></a></li>
      {else}
      <li{$6}><a href="{$login}"><span>{#link_login#}</span></a></li>
      {/if}  
        </ul>
        {$box_LANGUAGES}
    
        <h1><a href="{$mainpage}"><img src="{$tpl_path}images/logo.png" alt="" border="0" /></a></h1>
        {$box_PHONES}
        {$box_WORKTIME}
        {$box_CART_HOR}

        {$box_SEARCH_HOR}
  </div>

  {$box_CATEGORIES_HORIZONTAL}
  <div class="top_header_line"></div>
  
  <div class="wrap">
    <div id="sidebar">
      {$box_CATEGORIES}
      {$box_INFORMATION}
    </div>
    
    <div id="content">
      <div class="bread">{$navtrail}</div>
      
      {$main_content}      
      
    </div>
  </div>
  <div id="footer">
  {if $BANNER}  
  {$BANNER}
  <br />
  {/if}
  <a href="vam_rss2_info.php"><img src="images/rss.png" alt="RSS" border="0" /></a>
  </div>
</div>