{config_load file="$language/lang_$language.conf" section="index"}

<div class="content-wrapper">
	<div id="header">
		<h1><a href="{$mainpage}"><img src="{$tpl_path}images/logo.png" alt="" border="0" /></a></h1>
	</div>
	<div class="wrap">
		<div id="sidebar">
		</div>
		<div id="rightcol">
		</div>
		<div id="content">
			
			{$main_content}			
			
		</div>
	</div>
	<div id="footer">
	</div>
</div>