<table width="180" border="0" cellpadding="2" cellspacing="0">
  <tr>
    <td height="2" bgcolor="#000099"></td>
  </tr>
  <tr>
    <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{$BOX_TITLE}</font></td>
  </tr>
  <tr>
    <td><font size="1" face="Verdana, Arial, Helvetica, sans-serif">{$BOX_CONTENT}</font></td>
  </tr>
  <tr>
    <td height="2" bgcolor="#000099"></td>
  </tr>
</table>

