{config_load file="$language/lang_$language.conf" section="boxes"}
<!-- Бокс языки -->
<div id="boxLanguages">
<h5>{#heading_languages#}</h5>

<div id="boxLanguagesContent">
{$BOX_CONTENT}
</div>

</div>
<!-- /Бокс языки -->