{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
<h1>{#heading_shipping#}</h1>
{$FORM_ACTION}<div class="page">
<div class="pagecontent">

{if $SHIPPING_ADDRESS=='true'} 
<span class="bold">{#title_address#}</span>
{/if}

{if $SHIPPING_ADDRESS=='true'} 
<!-- Адрес -->
<dl class="AddressBook">
<dt class="AddressBook">
</dt>

<dd class="AddressBook">
{#text_addressbook#}
</dd>

<dd class="AddressBook">
{$BUTTON_ADDRESS}
</dd>

</dl>
<!-- /Адрес -->

<!-- Адрес по умолчанию -->
<dl class="AddressBook">
<dt class="AddressBook">
<span class="bold">{#title_address#}</span>
<br />
<img src="{$tpl_path}img/arrow_south_east.gif" alt="" />
</dt>

<dd class="AddressBook">
{$ADDRESS_LABEL}
</dd>

</dl>
<!-- /Адрес по умолчанию -->
<div class="clear"></div>
{/if}

<fieldset class="form">
<legend>{#text_shipping#}</legend>
{$SHIPPING_BLOCK}
</fieldset>

<p>
<span class="bold">{#title_continue#}</span>
</p>

<p>
{#text_continue#}
</p>
</div>
</div>

<div class="pagecontentfooter">
{$BUTON_CONTINUE}
</div>
{$FORM_END}