{config_load file="$language/lang_$language.conf" section="featured"} 

	<link rel="stylesheet" href="jscript/jquery/plugins/bxslider/bx_styles/bx_styles.css" type="text/css" />
	<script src="jscript/jquery/plugins/bxslider/jquery.bxSlider.min.js" type="text/javascript"></script>
	{literal}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#slider-featured').bxSlider({
				pager: false
			});
		});
	</script>
	{/literal}

<div class="recomend">
<div class="title"><h2><a href="{$FEATURED_LINK}">{#heading_text#}</a></h2></div>

	<div id="slide-featured">
			<ul id="slider-featured">

					{foreach name=aussen item=module_data from=$module_content}
					<li>
						{if $module_data.PRODUCTS_IMAGE}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" title="{$module_data.PRODUCTS_NAME}" /></a>{/if}
						<h3><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h3>
						<span><strong>{$module_data.PRODUCTS_PRICE}</strong></span>
						{$module_data.PRODUCTS_BUTTON_BUY_NOW}
					</li>
					{/foreach} 
          
				</ul>
			</div>

</div>

<div class="clear"></div>
