{config_load file="$language/lang_$language.conf" section="index"}

{$MODULE_featured_products}

<div class="two-info-bloks">
	<div class="info-left">
		Подписаться на рассылку новостей
	</div>
	<div class="info-right">
		Доставка
	</div>
</div>
<div class="clear"></div>

<div class="two-content-bloks">
	<div class="content-left">
		<div class="home-socials">
			Соцсети
		</div>
		<div class="home-news">
			{$MODULE_latest_news}
		</div>
	</div>
	<div class="content-right">
		<p>
			{$text}
		</p>
	</div>
</div>
<div class="clear"></div>

{$MODULE_error}

<div class="before-footer">
Наши телефоны..... Звоните с .. до .. Заказы онлайн круглосуточно.
</div>
